body{
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    padding: 5% 20% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-capela{
    margin-top: 0px;
}
hr{
    min-width: 300px;
    background-color:#C4C4C4;
    margin-top: 0;
}
#text{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: #3D3D4D;
    margin: 1.5rem;
}
#button{
    min-width: 500px;
}

.button{
    background: #667EEC;
    box-shadow: 0px 5.96829px 5.96829px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    margin: 1rem;
}
.button:hover{
    background-color: #fff;
    border-color: #667EEC;
    border:
}
a{
	justify-content: center;
    display: flex;
    flex-direction: row;
    color: #fff;
}
a:hover{
    color: #667EEC;
}
i {
    margin: 0.8rem 1rem 1.2rem 1rem;
}
.p-link{
    text-decoration: none;
    align-items: center;
}
.p-link:visited{
    text-decoration: none;
}
@media (max-width: 550px){
    body{
        padding:10% 5% ;
    }
    hr{
        min-width: 50%;
    }
    #text{
        font-size: 18.2414px;
        line-height: 21px;
        margin: 0.5rem;
    }
    i {
        margin: 1rem 1rem 1.2rem 0rem;
    }
    #button{
        min-width: 100%;
    }
    
    .p-link{
        font-size: 12.6352px;
        line-height: 15px
    }
}